<a href="https://colab.research.google.com/github/Deepthi120-ai/Weather-Prediction/blob/main/WeatherPredictionDelhi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving testset.csv to testset.csv

In [ ]:
data=pd.read_csv('testset.csv')
data[0:6]

     datetime_utc  _conds   _dewptm  ...   _wgustm   _windchillm   _wspdm
0  19961101-11:00   Smoke       9.0  ...       NaN           NaN      7.4
1  19961101-12:00   Smoke      10.0  ...       NaN           NaN      NaN
2  19961101-13:00   Smoke      11.0  ...       NaN           NaN      NaN
3  19961101-14:00   Smoke      10.0  ...       NaN           NaN      NaN
4  19961101-16:00   Smoke      11.0  ...       NaN           NaN      0.0
5  19961101-17:00   Smoke      12.0  ...       NaN           NaN      NaN

[6 rows x 20 columns]

In [ ]:
import numpy as np
data.isnull().sum().sum()

411805

In [ ]:
data.size

2019800

data.drop([indices])...to remove all rows before 68084

In [ ]:
data2=data[data.index>=68084]
data2.reset_index()

        index    datetime_utc     _conds  ...   _wgustm   _windchillm   _wspdm
0       68084  20070101-06:00  Heavy Fog  ...       NaN           NaN      5.6
1       68085  20070101-09:00  Heavy Fog  ...       NaN           NaN      7.4
2       68086  20070101-12:00  Heavy Fog  ...       NaN           NaN      3.7
3       68087  20070101-15:00  Heavy Fog  ...       NaN           NaN      5.6
4       68088  20070101-18:00  Heavy Fog  ...       NaN           NaN      1.9
...       ...             ...        ...  ...       ...           ...      ...
32901  100985  20170424-06:00       Haze  ...       NaN           NaN     11.1
32902  100986  20170424-09:00       Haze  ...       NaN           NaN     22.2
32903  100987  20170424-12:00       Haze  ...       NaN           NaN     18.5
32904  100988  20170424-15:00       Haze  ...       NaN           NaN      3.7
32905  100989  20170424-18:00       Haze  ...       NaN           NaN      3.7

[32906 rows x 21 columns]

In [ ]:
data2.size

658120

In [ ]:
data2.isnull().sum()

datetime_utc        0
 _conds            58
 _dewptm           39
 _fog               0
 _hail              0
 _heatindexm    30237
 _hum             122
 _precipm       32906
 _pressurem       176
 _rain              0
 _snow              0
 _tempm           106
 _thunder           0
 _tornado           0
 _vism             86
 _wdird         11777
 _wdire         11777
 _wgustm        32849
 _windchillm    32897
 _wspdm            52
dtype: int64

In [ ]:
data2.drop(columns=['_precipm','_heatindexm','_wgustm','_windchillm'])

NameError: ignored